{% extends 'base.html.twig' %}

{% block title %}My account | sf-ecommerce{% endblock %}
{% block content %}
<div class="row">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link {{ app.request.get('_route') == 'app_account' ? 'active' : '' }}" href="{{ path('app_account') }}">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_account_password') }}">
            Password
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_account_addresses') }}">
            Addresses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Orders
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% block mainContent %}{% endblock %}
  </main>
</div>
{% endblock %}
