{% extends 'account/base.html.twig' %}

{% block title %}Change my password | sf-ecommerce{% endblock %}

{% block mainContent %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">My Password</h1>
</div>
<div>
  {% if successMessage %}
    <div class="alert alert-success">{{ successMessage }}</div>
  {% endif %}
  {% if errorMessage %}
    <div class="alert alert-danger">{{ errorMessage }}</div>
  {% endif %}
  {{ form(form) }}
</div>
{% endblock %}