{% extends 'base.html.twig' %}

{% block title %}Create a new account | sf-ecommerce{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>Just a few steps to create your new account!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            {{ form(form) }}
        </div>
        <div class="col-md-6">
            <img class="rounded-lg mw-100" src="{{ asset('assets/img/signup.jpg') }}" alt="signup photo">
            Photo by <a href="https://unsplash.com/@benchaccounting?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Bench Accounting</a> on <a href="https://unsplash.com/s/photos/ecommerce?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </div>
    </div>
{% endblock %}
