{% extends 'base.html.twig' %}

{% block title %}Page Not Found | sf-ecommerce{% endblock %}

{% block content %}
    <h1>404 not Found</h1>
    <h2>We could not figure out what you're looking for!</h2>
    <p>Go back to the <a href="{{ path('app_home') }}">Home page</a>.</p>
{% endblock %}